/* BASIC */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8f8f8;
    min-width: 284px;
}

.header_content,
main,
footer .footer_menu,
.footer_bar>div {
    max-width: 1280px;
    margin: 0 auto;
}

.header_vidget,
.sidebar ul,
main ul,
.footer_bar ul {
    list-style: none;
}

.sidebar .cart,
.sidebar form .search,
main>ul a,
.page_products .view div,
.overview .raiting {
    background: url("../img/sprite.png") no-repeat;
}

.header_vidget a,
.footer_bar a {
    background: url("../img/social_icons.png") no-repeat;
}

a {
    text-decoration: none;
}

.mobile_menu,
.close_menu {
    display: none;
}

/* HEADER */

header {
    min-height: 350px;
}

.product_catalog header {
    background: url("../img/header image main.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.product_description header {
    background: url("../img/header image description.jpg") no-repeat;
    background-size: cover;
}

.header_content {
    padding-top: 25px;
    font-family: Raleway, sans-serif;
}

.header_content img,
.header_content .header_vidget {
    vertical-align: middle;
}

.header_content img {
    margin-left: 125px;
    margin-bottom: 42px;
}

.header_content .header_vidget {
    float: right;
    margin-top: 26px;
    margin-right: 64px;
}

.header_vidget li,
.footer_bar li {
    display: inline-block;
    vertical-align: middle;
}

.header_vidget li:not(:first-child) {
    margin-left: -3px;
}

.header_vidget li:not(.lang) {
    margin-right: 12px;
}

.header_vidget a,
.footer_bar a {
    display: block;
    transition: background-position 250ms linear;
}

a.fb {
    background-position: 0 0;
    width: 8px;
    height: 16px;
}

a.tw {
    background-position: -76px 0;
    width: 16px;
    height: 14px;
}

a.ytb {
    background-position: -92px 0;
    width: 16px;
    height: 16px;
}

a.pint {
    background-position: -38px 0;
    width: 14px;
    height: 16px;
}

a.inst {
    background-position: -22px 0;
    width: 16px;
    height: 16px;
}

a.fb:hover {
    background-position: 0 -16px;
}

a.tw:hover {
    background-position: -76px -14px;
}

a.ytb:hover {
    background-position: -92px -16px;
}

a.pint:hover {
    background-position: -38px -16px;
}

a.inst:hover {
    background-position: -22px -16px;
}

.header_vidget li .lang {
    position: relative;
    padding-right: 15px;
    background: none;
    color: #e9e9e9;
    font: 700 10px/1 Raleway, sans-serif;
}

.header_vidget .lang span {
    position: absolute;
    top: 2px;
    right: 0;
    border: 5px solid transparent;
    border-top: 6px solid #e9e9e9;
}

header .sidebar {
    width: 270px;
    margin-left: 55px;
    background-color: #fb4d01;
    font: 12px/1 Raleway, sans-serif;
}

.sidebar>div:nth-of-type(1) {
    background-color: #f8f8f8;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fb4d01;
}

.sidebar .sidebar_bar {
    display: inline-block;
    padding: 7px 33% 7px 12.6%;
}

.sidebar>div:nth-of-type(2)>div:nth-of-type(1) {
    display: inline-block;
    position: relative;
    padding-top: 14px;
    padding-left: 29.6%;
    color: #ffffff;
    font: 600 18px/17px Raleway, sans-serif;
}

.sidebar i {
    padding-left: 5px;
    font: normal 400 12px/1 Raleway, sans-serif;
    color: #faef03;
}

.sidebar i:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sidebar .cart {
    position: absolute;
    background-position: -30px -64px;
    width: 41px;
    height: 35px;
    bottom: 0;
    left: 27px;
}

.sidebar>div:nth-of-type(2)>div:nth-of-type(2) {
    display: inline-block;
    position: relative;
    margin-left: 66px;
    margin-bottom: 15px;
    letter-spacing: 0.075em;
    font: 300 10px/1 Raleway, sans-serif;
    color: #333333;
}

.sidebar .cross {
    position: absolute;
    width: 10px;
    height: 10px;
    top: -23px;
    right: 3px;
}

.sidebar .cross::before,
.sidebar .cross::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 17px;
    background-color: #fabe02;
}

.sidebar .cross:hover::before,
.sidebar .cross:hover::after {
    background-color: #ffd24d;
}

.sidebar .cross::before {
    transform: rotate(45deg);
}

.sidebar .cross::after {
    transform: rotate(-45deg);
}

.sidebar li {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    font-weight: 400;
}

.sidebar li:first-of-type {
    background-color: #ee4a02;
}

.sidebar li:last-of-type {
    margin-left: -3.06px;
    background-color: #e24602;
}

body .sidebar li:hover {
    background-color: hsla(258, 100%, 0%, 0.3);
}

.sidebar a {
    display: block;
    padding: 8px 0;
    font: 11px/1 Raleway, sans-serif;
    color: #ffffff;
}

.sidebar form {
    position: relative;
}

.sidebar form input {
    height: 33.5px;
    border: none;
    vertical-align: middle;
}

.sidebar form input[type="text"] {
    box-sizing: border-box;
    width: 236px;
    padding: 0 26px 0 13px;
    font: 400 10px/1 Raleway, sans-serif;
    color: #0c0c0c;
}

.sidebar form input[type="text"]:focus {
    outline: none;
}

.sidebar form input[type="button"] {
    width: 34px;
    margin-left: -3.06px;
    background-color: #333333;
}

.sidebar form input[type="button"]:hover {
    background-color: #3d3d3d;
}

.sidebar form .search {
    position: absolute;
    background-position: -103px -64px;
    width: 12px;
    height: 13px;
    top: 11px;
    right: 11px;
}

.sidebar form .clear_search {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 12px;
    right: 40px;
}

.sidebar form .clear_search::after,
.sidebar form .clear_search::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 11px;
    background-color: #686868;
}

.sidebar form .clear_search:hover::after,
.sidebar form .clear_search:hover::before {
    background-color: #940000;
}

.sidebar form .clear_search::after {
    transform: rotate(45deg);
}

.sidebar form .clear_search::before {
    transform: rotate(-45deg);
}

/* MAIN */

main {
    font-family: Roboto, sans-serif;
}

main .flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

main .left_sidebar {
    width: 270px;
    margin-left: 55px;
}

.left_sidebar section {
    margin-bottom: 20px;
}

.left_sidebar h2 {
    display: block;
    background-color: #333333;
    padding: 30px 0 20px 42px;
    font: 700 14px/1.2 Roboto, sans-serif;
    color: #ffffff;
}

.left_sidebar section:not(.tags) ul {
    font: 900 14px/1.2 Roboto, sans-serif;
}

.left_sidebar .menu ul {
    background-color: #26d2fc;
}

.left_sidebar .category ul {
    background-color: #81e6fe;
}

.left_sidebar .brand ul {
    margin-bottom: 33px;
    background-color: #9eeafd;
}

.menu li:last-of-type {
    padding-bottom: 13px;
}

.category li:last-of-type {
    padding-bottom: 19px;
}

.brand li:last-of-type {
    padding-bottom: 30px;
}

.left_sidebar section a {
    display: block;
    padding-top: 16px;
    padding-bottom: 4px;
    padding-left: 40px;
    color: #000000;
}

.left_sidebar section:not(.tags) a:hover {
    padding-bottom: 10px;
    background-color: #333333;
    color: #ffffff;
}

.tags h2 {
    padding: 21px 0 14px 30px;
    background: none;
    font: italic 900 24px/1.2 Roboto, sans-serif;
    color: #000000;
}

.tags ul {
    display: flex;
    flex-flow: row wrap;
    margin-top: 9px;
    margin-bottom: 9px;
    padding-left: 30px;
    font-size: 12px;
}

.left_sidebar .tags li {
    margin-right: 8px;
}

.left_sidebar .tags a {
    margin-bottom: 8px;
    padding: 9px 12px 6px;
    background-color: #e9e9e9;
    color: #333333;
}

.left_sidebar .tags li:nth-of-type(4) a {
    margin-right: 80px;
}

.left_sidebar .tags .main_tag {
    font-size: 14px;
    padding: 7px 34px 5px;
    color: #000000;
}

.left_sidebar .tags a:hover {
    background-color: #faef03;
}

.left_sidebar .tags span {
    margin-left: 30px;
    font: italic 400 14px/1.2 Roboto, sans-serif;
    color: #000000;
}

.left_sidebar .tags span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.left_sidebar>img {
    margin: 40px 0 79px 0px;
    width: 265px;
    height: 294px;
}

/* product catalog.html page begin*/

main .page_products {
    max-width: 872px;
    flex: 1;
    width: 68.12%;
    box-sizing: border-box;
    margin: 0 53px 0 30px;
    padding: 0 10px;
}

.page_products nav {
    display: flex;
    align-items: baseline;
    margin: 33px 0 47px -2px;
}

.page_products nav li {
    display: inline-block;
}

.page_products nav a {
    display: block;
    margin-left: -3px;
    padding: 4px;
    padding-bottom: 3px;
    font: 400 12px/1.1 Roboto, sans-serif;
    color: #989898;
}

.page_products nav a:hover {
    background-color: #faef03;
}

.page_products nav>a {
    margin-right: 12px;
    margin-left: auto;
    cursor: pointer;
}

.page_products nav>a:hover {
    transform: scale(1.05);
}

.page_products .further {
    margin-left: -2px;
}

.page_products .options {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 35px;
    font: 400 11px/1.2 Roboto, sans-serif;
    color: #333333;
}

.page_products .sort select {
    width: 97px;
    height: 20px;
    margin-left: 6px;
    padding-left: 4px;
    outline: none;
    background: transparent;
    font: 400 12px/1.2 Roboto, sans-serif;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.page_products .select_arrow {
    display: inline-block;
    height: 22px;
    background: url("../img/select arrow.png") no-repeat right transparent;
}

.page_products .sort .select_arrow {
    width: 102px;
}

.page_products .sort span {
    padding-left: 6px;
    font-size: 13px;
    cursor: pointer;
}

.page_products .view {
    display: flex;
    flex-flow: nowrap;
    align-items: flex-end;
}

.page_products .view div:nth-of-type(1) {
    margin-left: 20px;
    background-position: -87px -64px;
    width: 16px;
    height: 16px;
}

.page_products .view div:nth-of-type(2) {
    margin-left: 18px;
    background-position: -71px -64px;
    width: 16px;
    height: 16px;
}

.page_products .view div {
    position: relative;
    top: 1px;
}

.page_products .show_product {
    display: flex;
    align-items: baseline;
}

.page_products .show_product select {
    width: 66px;
    height: 20px;
    margin-left: 7px;
    padding-left: 4px;
    outline: none;
    background: transparent;
    font: 400 11px/1.2 Roboto, sans-serif;
    color: #333333;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.page_products .show_product .select_arrow {
    width: 72px;
}

.page_products .show_product span {
    padding-left: 13px;
}

.page_products .page {
    display: flex;
    flex-flow: nowrap;
    align-items: baseline;
}

.page_products .page li {
    display: inline-block;
}

.page_products .page ul {
    margin-left: 12px;
}

.page_products .page a {
    display: block;
    margin-left: 2px;
    padding: 5px 7px;
}

.page_products .page a:hover {
    background-color: #26d2fc;
    color: #ffffff;
}

.page_products .products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: -29.13px;
    padding-right: 4px;
}

.products figure {
    position: relative;
    width: 28.503%;
    margin: 0;
    margin-left: 29.13px;
    margin-bottom: 76px;
}

.products img {
    width: 100%;
    margin-bottom: 19px;
    background-color: #eaeaea;
}

.products figcaption {
    display: flex;
    justify-content: space-between;
    height: 21px;
    color: #333333;
}

.products .product_name {
    display: inline-block;
    position: relative;
    min-width: 0%;
    font: italic 900 14px/1.3 Roboto, sans-serif;
    margin-top: 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.products span {
    position: relative;
    font: italic 900 18px/20px Roboto, sans-serif;
    margin-top: 1px;
}

.products figure:nth-of-type(3n+1) figcaption {
    padding-left: 18px;
}

.products figure:nth-of-type(3n+2) figcaption {
    padding-left: 5px;
}

.products figure:nth-of-type(3n+3) figcaption {
    padding-left: 16px;
}

.products figure:nth-of-type(3n+2) span {
    padding-right: 12px;
}

.products figure:nth-of-type(3n+3) span {
    padding-right: 18px;
}

.products .sale {
    position: absolute;
    bottom: -18px;
    right: 0;
    font-size: 14px;
    text-decoration: line-through;
    color: #e24602;
}

.products .ad {
    box-sizing: border-box;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 47px;
    height: 47px;
    font: 400 9px/1.2 Roboto, sans-serif;
    padding-top: 9px;
    padding-left: 21px;
}

.products .new_product {
    background: linear-gradient(to top right, transparent 0%, transparent 49%, #e24602 50%, #e24602 100%);
    color: #ffffff;
}

.products .hot {
    background: linear-gradient(to top right, transparent 0%, transparent 49%, #faef03 50%, #faef03 100%);
    color: #000000;
}

.page_products div:last-child {
    margin-top: -6px;
}

/* product catalog.html page end*/

/* product description.html page begin*/

.descriptions nav a,
.overview div p,
.price,
.overview h2,
.overview>span:nth-of-type(-n+2),
.overview>ul li,
.overview .privilege,
.description li a {
    font: 400 12px/1.1 Roboto, sans-serif;;
}

main .descriptions {
    max-width: 872px;
    width: 68.12%;
    box-sizing: border-box;
    margin: 0 53px 0 30px;
    padding: 0 10px;
}

.descriptions nav {
    display: flex;
    align-items: baseline;
    margin: 33px 0 47px -2px;
}

.descriptions nav li {
    display: inline-block;
}

.descriptions nav a {
    display: block;
    margin-left: -3px;
    padding: 4px;
    padding-bottom: 3px;
    color: #989898;
}

.descriptions nav a:hover {
    background-color: #faef03;
}

.descriptions nav>a {
    margin-right: 12px;
    margin-left: auto;
    cursor: pointer;
}

.descriptions nav>a:hover {
    transform: scale(1.05);
}

.descriptions .further {
    margin-left: -2px;
}

.descriptions>div:nth-of-type(1) {
    display: inline-block;
    max-width: 42.05%;
}

.descriptions>div:nth-of-type(1)>img {
    margin-left: -6px;
}

.descriptions>div:nth-of-type(1)>div {
    position: relative;
    width: 346.2px;
    margin-top: 18px;
    margin-left: 12px;
    overflow: hidden;
}

.descriptions>div:nth-of-type(1)>div img {
    margin-left: 27px;
}

.descriptions>div:nth-of-type(1)>div img:nth-of-type(1) {
    padding-left: 10px;
}

.arrow {
    position: absolute;
    width: 0;
    height: 50px;
    margin: 0;
    padding: 0;
    top: 7px;
    border: 20px solid transparent;
    border-top-color: #b1b1b1;
}

.arrow:before {
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border: 18px solid transparent;
    border-top-color: #f8f8f8;
    transform: translate(-18px, -22px);
}

.arrow.left {
    transform: rotate(90deg);
    left: -45px;
}

.arrow.right {
    transform: rotate(270deg);
    right: -45px;
}

.descriptions .overview {
    display: inline-block;
    max-width: 51.5%;
    margin-left: 51px;
    vertical-align: top;
    color: #353535;
}

.overview h1 {
    margin-top: 2px;
    margin-bottom: 0;
    font: 700 24px/1.15 Roboto, sans-serif;
}

.overview div p {
    display: inline-block;
}

.overview .raiting {
    display: inline-block;
    width: 50px;
    height: 10px;
    margin-right: 1px;
    margin-bottom: -1px;
    background-position: -64px -52px;
}

.overview .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 4px;
    padding-bottom: 15px;
}

.price {
    color: #707070;
}

.price>span {
    margin-bottom: 5px;
    font: italic 500 22px/1.2 Roboto, sans-serif;
    color: #111111;
}

.price div {
    margin-right: 10px;
    margin-left: auto;
}

.price div span {
    font-weight: 600;
    color: #111111;
}

.price div span:nth-of-type(2) {
    display: inline-block;
    margin-top: 8px;
}

.overview h2 {
    margin-top: 23px;
    margin-bottom: 6px;
    color: #353535;
}

.overview>p {
    padding-bottom: 16px;
    font: 400 12px/1.6 Roboto, sans-serif;
    color: #707070;
}

.overview>span:nth-of-type(-n+2) {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 12px;
    color: #333333;
}

.overview>ul:nth-of-type(1) {
    padding-bottom: 24px;
}

.overview>ul li {
    display: inline-block;
    margin-right: 7px;
    padding: 6px;
    color: #333333;
}

.overview>ul li:hover {
    color: #ff4a4a;
    cursor: pointer;
}

.overview>span:nth-of-type(2) {
    margin-top: 19px;
}

.overview>ul:nth-of-type(2) {
    padding-bottom: 21px;
}

.overview .price,
.overview p:nth-of-type(2),
.overview>ul {
    border-bottom: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, transparent 0%, transparent 7%, #e4e4e4 8%, #e4e4e4 95%, transparent 96%, transparent 100%);
    -webkit-border-image: -webkit-linear-gradient(left, transparent 0%, transparent 7%, #e4e4e4 8%, #e4e4e4 95%, transparent 96%, transparent 100%);
    border-image-slice: 1;
}

.overview .privilege {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    margin-top: 21px;
    padding: 0 6px;
    color: #353535;
}

.privilege div {
    margin-top: 1px;
}

.privilege div span {
    display: inline-block;
    margin-top: 4px;
    padding-left: 21px;
    word-spacing: -8px;
    color: #9b9b9b;
}

.privilege div span span {
    font-size: 16px;
}

.privilege a {
    display: inline-block;
    padding: 16px 14px 14px;
    background: #fb4d01;
    font: 400 16px/1.1 Roboto, sans-serif;
    color: #ffffff;
}

.privilege a:hover {
    background: #e44501;
    box-shadow: inset 0 0 20px -5px black;
}

.privilege ul {
    margin-top: -5px;
    font: 11px/20px Roboto, sans-serif;
}

.descriptions .description {
    margin-top: 38px;
}

.description ul {
    margin-left: 5px;
}

.description li {
    display: inline-block;
}

.description li:not(:first-child) {
    margin-left: -15px;
}

.description li a {
    display: inline-block;
    padding: 13px 17px 9px 16px;
    letter-spacing: -0.005em;
    color: #333333;
}

.description li a:hover {
    background-color: #26d2fc;
    cursor: pointer;
}

.description p {
    width: 99%;
    margin-top: -1px;
    margin-left: -11px;
    padding: 7px 13px 18px;
    font: 400 11px/15px Roboto, sans-serif;
    letter-spacing: 0.0755em;
    color: #808080;
    border: 1px solid #d6d4d4;
}

.descriptions article:nth-of-type(1) {
    margin-top: 94px;
}

.descriptions article:nth-of-type(2) {
    margin-top: 63px;
}

.descriptions .products {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 38px;
    margin-left: -29px;
}

.descriptions article h2 {
    margin-left: -10px;
    font: italic 800 30px/1.15 Raleway, sans-serif;
    color: #333333;
}

.descriptions article:nth-of-type(1) img {
    margin-bottom: 14px;
}

.descriptions article:nth-of-type(2) img {
    margin-bottom: 4px;
}

.descriptions .products .sale {
    bottom: -20px;
}

.descriptions .products div {
    position: absolute;
    width: 41px;
    height: 40px;
    top: 106px;
    background: #26d2fc;
    z-index: 1;
}

.descriptions .products div::after {
    content: '';
    position: absolute;
    width: 0;
    height: 50px;
    margin: 0;
    padding: 0;
    left: 3px;
    top: 12px;
    border: 17px solid transparent;
    border-top-color: #b1b1b1;
}

.descriptions .products div::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    top: 8px;
    left: 2px;
    border: 18px solid transparent;
    border-top-color: #26d2fc;
    z-index: 2;
}

.descriptions .products .viewed {
    background: #faef03;
}

.descriptions .products .viewed::before {
    border-top-color: #faef03;
}

.descriptions .products .ago {
    transform: rotate(90deg);
    left: 19px;
}

.descriptions .products .next {
    transform: rotate(270deg);
    right: -10px;
    overflow: hidden;
}

/* product description.html page end*/

main>ul {
    display: flex;
    flex: 1;
    max-width: 1170px;
    margin: 0 55px;
    text-indent: -9999px;
}

main>ul li {
    display: flex;
    flex: 1 1 33%;
    justify-content: center;
    align-items: center;
    height: 150px;
}

main>ul li:nth-of-type(1) {
    background-color: #3b5997;
}

main>ul li:nth-of-type(2) {
    background-color: #3fccfd;
}

main>ul li:nth-of-type(3) {
    background-color: #cb2027;
}

main>ul li:nth-of-type(1) a {
    background-position: 0px -64px;
    width: 30px;
    height: 62px;
}

main>ul li:nth-of-type(2) a {
    background-position: -64px 0px;
    width: 64px;
    height: 52px;
}

main>ul li:nth-of-type(3) a {
    background-position: 0px 0px;
    width: 64px;
    height: 64px;
}

/* FOOTER */

footer {
    background-color: #373737;
    font-family: Roboto, sans-serif;
}

footer .footer_menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footer_menu div {
    display: inline-block;
    vertical-align: top;
    margin-top: 73px;
}

.footer_menu div:nth-of-type(1) {
    min-width: 6em;
    width: 6em;
    margin-left: 76px;
}

.footer_menu div:nth-of-type(2) {
    min-width: 7em;
    width: 7em;
    margin-left: 7.74%;
}

.footer_menu div:nth-of-type(3) {
    min-width: 7em;
    width: 7em;
    margin-left: 6.47%;
}

.footer_menu div:nth-of-type(4) {
    min-width: 16em;
    width: 16em;
    margin-left: 5.7%;
}

.footer_menu div:nth-of-type(5) {
    min-width: 17em;
    width: 17em;
    margin-left: 3.6%;
    margin-right: 39px;
}

.footer_menu div:nth-of-type(4) p {
    width: 75%;
}

.footer_menu div:nth-of-type(5) p {
    width: 86%;
}

.footer_menu h2 {
    margin-bottom: 24px;
    font: 800 18px/1.15 Raleway, sans-serif;
    color: #ffffff;
}

.footer_menu div:nth-of-type(2),
.footer_menu div:nth-of-type(n+4) {
    margin-top: 75px;
}

.footer_menu div:nth-of-type(n+4) {
    margin-bottom: 22px;
}

.footer_menu div:nth-of-type(2) h2 {
    margin-bottom: 22px;
}

.footer_menu div:nth-of-type(n+4) h2{
    margin-bottom: 3px;
}

.footer_menu div:first-of-type h2 {
    font-weight: 400;
}

.footer_menu div a {
    display: block;
}

.footer_menu div:nth-of-type(-n+3) a:hover {
    display: inline-block;
    transform: scale(1.1);
    text-decoration: underline;
    cursor: pointer;
}

.footer_menu a,
.footer_menu p {
    font: 400 12px/1.5 Roboto, sans-serif;
    color: #ffffff;
}

.footer_menu p {
    line-height: 12px;
}

.footer_menu form {
    margin-top: 18px;
}

.footer_menu form input[type="email"] {
    width: 149px;
    height: 28px;
    padding: 2px 10px 0 21px;
    background-color: #fff51f;
    font: 700 12px/21px Roboto, sans-serif;
    color: #333333;
}

.footer_menu form input[type="submit"] {
    width: 70px;
    height: 30px;
    margin-left: -4px;
    padding: 2px 0 0;
    background-color: #000000;
    font-weight: 400;
    color: #ffffff;
}

.footer_menu form input[type="submit"]:hover {
    background-color: #121212;
}

.footer_menu form input {
    border: none;
    vertical-align: middle;
    font: 12px/21px Roboto, sans-serif;
}

.footer_menu article {
    width: 271px;
    margin-top: 45px;
    margin-left: -10px;
}

.footer_menu article img:not(:first-child) {
    margin-left: 7px;
}

.footer_menu section {
    padding-top: 4px;
    font: 400 14px/1.2 Roboto, sans-serif;
    color: #ffffff;
}

.footer_menu section span {
    display: inline-block;
    margin-right: 18px;
    padding-top: 10px;
}

.footer_menu section i {
    margin-left: 2px;
    font-style: normal;
    color: #faef03;
}

.footer_menu section i:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer .footer_bar {
    background-color: #333333;
}

.footer_bar p {
    display: inline-block;
    margin-left: 61px;
    padding: 21px 0 16px;
    font: 400 12px/1.1 Roboto, sans-serif;
    color: #dad9d9;
}

.footer_bar ul {
    float: right;
    margin-top: 17px;
    margin-right: 75px;
}

.footer_bar li {
    margin-left: 11px;
}

.footer_bar li:nth-of-type(4) a {
    background-position: -8px 0;
    width: 14px;
    height: 15px;
}

.footer_bar li:nth-of-type(5) a {
    background-position: -66px 0;
    width: 10px;
    height: 15px;
}

.footer_bar li:nth-of-type(7) a {
    background-position: -52px 0;
    width: 14px;
    height: 15px;
}

.footer_bar li:nth-of-type(4) a:hover {
    background-position: -8px -15px;
}

.footer_bar li:nth-of-type(5) a:hover {
    background-position: -66px -15px;
}

.footer_bar li:nth-of-type(7) a:hover {
    background-position: -52px -15px;
}

@media (min-width:769px) and (max-width:1271px) {
    footer .footer_menu {
        display: block;
        box-sizing: border-box;
        padding: 0 20px;
        text-align: center;
    }

    .footer_menu div {
        text-align: left;
    }

    .footer_menu div:nth-of-type(1) {
        margin-left: 0;
    }

    .footer_menu div:nth-of-type(2) {
        min-width: 7em;
        width: 7em;
        margin-left: 5%;
    }

    .footer_menu div:nth-of-type(3) {
        min-width: 7em;
        width: 7em;
        margin-left: 5%;
    }

    .footer_menu div:nth-of-type(4) {
        min-width: 16em;
        width: 16em;
        margin-left: 5%;
    }

    .footer_menu div:nth-of-type(5) {
        min-width: 17em;
        width: 80%;
        margin: 0 auto 22px;
    }

    .footer_menu div:nth-of-type(5) h2 {
        text-align: center;
    }

    .footer_menu div:nth-of-type(5) p {
        width: 100%;
    }

    .footer_menu div:nth-of-type(5) section {
        text-align: right;
    }

    .footer_menu div:nth-of-type(5) section span:nth-of-type(1) {
        margin-right: 52px;
    }
}

/* product catalog.html page begin*/

@media (min-width:769px) and (max-width:1183px) {
    .page_products .products {
        justify-content: space-around;
    }

    .products figure {
        max-width: 250px;
        width: 39%;
    }

    .products figure:nth-of-type(2n+1) {
        margin: 0 46px 76px;
    }

    .products figure:nth-of-type(2n+2) {
        margin: 0 19px 76px;
    }

    .products figure:nth-of-type(n+11) {
        display: none;
    }
}

@media (min-width:769px) and (max-width:1058px) {
    .page_products .products {
        flex-flow: column;
        margin-left: -4px;
    }

    .page_products .products figure {
        width: 250px;
        margin: 0 auto 56px;
    }

    .products figure:nth-of-type(n+6) {
        display: none;
    }

    .page_products .options {
        flex-flow: wrap;
    }

    .page_products .options .page {
        margin: 10px auto 0;
        padding: 0 30px;
    }
}

@media (min-width:769px) and (max-width:928px) {
    .options .view {
        order: 1;
        margin-left: 15px;
        padding-right: 81px;
    }

    .page_products .options .page {
        order: 2;
        margin: 0 8px 10px 0;
        padding: 0;
    }

    .options .sort {
        order: 3;
        margin-left: -8px;
    }

    .options .show_product {
        order: 4;
        margin-right: -8px;
    }
}

@media (min-width:769px) and (max-width:846px) {
    .options .view {
        padding-right: 0;
    }
}

/* product catalog.html page end*/


/* product description.html page begin*/

@media (min-width:1090px) and (max-width:1296px) {
    main .descriptions {
        margin: 0 5px 0 30px;
    }

    .descriptions>div:nth-of-type(1) {
        min-width: 358px;
    }

    .descriptions>div:nth-of-type(1)>img {
        margin-left: 0;
        max-width: 100%;
    }

    .descriptions>div:nth-of-type(1)>div {
        margin-left: 6px;
    }

    .descriptions .overview {
        max-width: 51.5%;
        margin-left: 4%;
    }

    .descriptions .products figure {
        width: 28.503%;
        margin: 0 auto 76px !important;
    }

    .descriptions .products .ago {
        left: 9px;
    }

    .descriptions .products .next {
        right: 10px;
    }
}

@media (min-width:1090px) and (max-width:1240px) {
    .descriptions .overview {
        max-width: 49.33%;
        margin-left: 3%;
    }

    .descriptions .products div {
        top: 30%;
    }
}

@media (min-width:1090px) and (max-width:1160px) {
    .descriptions .overview {
        max-width: 45%;
    }
}

@media (min-width:769px) and (max-width:1089px) {
    main .descriptions {
        margin: 0 5px;
    }

    .descriptions>div:nth-of-type(1) {
        margin: 118px auto 0;
    }

    .overview .adaptiv_position {
        top: 85px;
    }

    .descriptions>article:nth-of-type(1) {
        margin-top: 35px;
    }

    .descriptions>article:nth-of-type(2) {
        margin-top: 25px;
    }

    .descriptions .products figure {
        margin: 0 auto 76px !important;
    }
}

@media (min-width:778px) and (max-width:885px) {
    .description li:nth-of-type(4) {
        margin-left: 0;
    }
}

@media (min-width:769px) and (max-width:777px) {
    .description li:nth-of-type(3) {
        margin-left: 0;
    }
}

@media (min-width:769px) and (max-width:860px) {
    main .descriptions .products div {
        top: 25%;
    }
}

@media (min-width:769px) and (max-width:810px) {
    .descriptions figcaption,
    .descriptions figcaption .sale,
    .descriptions .product_name {
        font-size: 12px;
    }

    .descriptions figcaption span {
        font-size: 14px;
    }
}

/* product description.html page end*/

@media (min-width:481px) and (max-width:768px) {
    /*HEADER*/

    header {
        min-height: 366px;
    }

    .header_content img {
        margin-bottom: 0px;
    }

    .header_content .header_vidget {
        float: none;
        margin: 20px 0 20px 107px;
    }

    /*MAIN*/

    .tags span,
    .left_sidebar>img {
        display: none;
    }

    main .flex {
        display: block;
    }

    main .left_sidebar {
        width: auto;
        margin-right: 20px;
        margin-left: 20px;
        text-align: center;
    }

    .left_sidebar>section {
        display: inline-block;
        position: relative;
        margin-bottom: 0;
    }

    .left_sidebar section h2 {
        padding: 10px 5px 8px;
        background-color: #333333;
        font: 700 14px/1.15 Roboto, sans-serif;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
    }

    .left_sidebar section h2 {
        margin-left: -4px;
        border-left: 1px solid grey;
    }

    .left_sidebar .menu h2 {
        margin-left: 0px;
        border-left: none;
    }

    .left_sidebar section:hover h2 {
        background-color: #3d3d3d;
        cursor: pointer;
    }

    .left_sidebar>section ul {
        display: block;
        position: absolute;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.3s linear;
    }

    .left_sidebar>section:hover ul {
        max-height: 500px;
    }

    .menu ul,
    .category ul,
    .brand ul {
        left: -4px;
        background-color: transparent !important;
        z-index: 1;
    }

    .menu ul {
        left: 0;
    }

    .tags ul {
        right: 0;
        width: 300px;
        margin: 0;
        padding: 0;
        text-align: right;
        z-index: 1;
    }

    .menu li:last-of-type,
    .category li:last-of-type,
    .brand li:last-of-type {
        padding-bottom: 0;
    }

    .main .tags li {
        display: inline-block;
        margin-right: 0;
    }

    .main .tags li:nth-of-type(n+11) {
        position: absolute;
        right: 150px;
        border-right: 1px solid grey;
    }

    .main .tags li:nth-of-type(11) {
        top: 15px;
    }

    .main .tags li:nth-of-type(12) {
        top: 51px;
    }

    .main .tags li:nth-of-type(13) {
        top: 84px;
    }

    .main .tags li:nth-of-type(14) {
        top: 117px;
    }

    .main .tags li:nth-of-type(15) {
        top: 150px;
    }

    .main .tags li:nth-of-type(16) {
        top: 183px;
    }

    .main .tags li:nth-of-type(17) {
        top: 216px;
    }

    .main .tags li:nth-of-type(18) {
        top: 249px;
    }

    .left_sidebar>section li:first-of-type {
        margin-top: 15px;
        position: relative;
    }

    .left_sidebar>section li:first-of-type::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 1px;
        border: 10px solid transparent;
        border-bottom-color: #e9e9e9;
        top: -21px;
    }

    .menu li:first-of-type::before {
        left: 14px;
    }

    .category li:first-of-type::before {
        left: 62px;
    }

    .brand li:first-of-type::before {
        left: 49.5px;
    }

    .tags li:first-of-type::before {
        left: 89px;
    }

    .left_sidebar>section a {
        width: auto;
    }

    .main .menu a,
    .main .category a,
    .main .brand a,
    .main .tags a,
    .main .left_sidebar .main_tag {
        margin: 0 !important;
        padding: 10px 0;
        background-color: #e9e9e9;
        font-weight: 400;
        text-align: center;
    }

    .main .menu a {
        width: 150px;
    }

    .main .category a {
        width: 146px;
    }

    .main .brand a {
        width: 121px;
    }

    .main .left_sidebar .tags a,
    .main .left_sidebar .main_tag {
        width: 150px;
        margin: 0;
    }

    .main .left_sidebar .tags a:hover {
        background-color: #333333;
        color: #ffffff;
    }

    .products img {
        margin-bottom: 4px !important;
    }

    /* product catalog.html page begin*/

    .main .page_products {
        width: 100%;
        margin: 0;
        padding: 0 20px 0;
    }

    .page_products nav {
        margin-bottom: 20px;
    }

    .page_products .products figure {
        margin-bottom: 61px;
    }

    /* product catalog.html page end*/

    /* product description.html page begin*/

    main .descriptions {
        padding: 0 20px;
    }

    .descriptions>div:nth-of-type(1) {
        min-width: 358px;
    }

    .descriptions>div:nth-of-type(1)>img {
        max-width: 100%;
    }

    .descriptions>div:nth-of-type(1)>div {
        margin-left: 6px;
    }

    .descriptions .overview {
        max-width: 45%;
        margin-left: 3%;
    }

    .descriptions .products figure {
        margin: 0 auto 61px !important;
    }

    /* product description.html page end*/

    /*FOOTER*/

    footer .footer_menu {
        display: block;
        box-sizing: border-box;
        padding: 0 20px;
        text-align: center;
    }

    .footer_menu div {
        text-align: left;
    }

    .footer_menu div:nth-of-type(-n+3) {
        min-height: 173px;
        text-align: center;
    }

    .footer_menu div:nth-of-type(1) {
        margin-left: 0;
    }

    .footer_menu div:nth-of-type(2) {
        min-width: 7em;
        width: 7em;
        margin-left: 5%;
    }

    .footer_menu div:nth-of-type(3) {
        min-width: 7em;
        width: 7em;
        margin-left: 5%;
    }

    .footer_menu div:nth-of-type(n+4) {
        box-sizing: border-box;
        min-width: 16em;
        width: 45%;
        margin: 19px 10px 22px 10px;
    }

    .footer_menu div:nth-of-type(5) {
        min-width: 17em;
    }

    .footer_menu div:nth-of-type(n+4) h2 {
        text-align: center;
    }

    .footer_menu div:nth-of-type(n+4) p {
        width: 100%;
    }

    .footer_menu div:nth-of-type(5) section span:nth-of-type(1) {
        margin-right: 52px;
    }

    .footer_menu article {
        margin-top: 18px;
    }

    .footer_bar p {
        display: block;
        margin: 0;
        padding: 21px 5px 16px;
        text-align: center;
    }

    .footer_bar ul {
        float: none;
        margin: 0;
        padding-bottom: 20px;
        text-align: center;
    }
}

/* product catalog.html page begin*/

@media (min-width:481px) and (max-width:681px) {
    .page_products .products {
        margin: 0;
        padding: 0 15px;
        justify-content: space-around;
    }

    .products figure {
        max-width: 250px;
        min-width: 180px;
        width: 39%;
        margin-left: 0;
    }

    .products figure:nth-of-type(odd) figcaption {
        padding-left: 18px;
    }

    .products figure:nth-of-type(even) figcaption {
        padding-left: 5px;
    }

    .products figure:nth-of-type(n+11) {
        display: none;
    }
}

@media (min-width:481px) and (max-width:659px) {
    .page_products .options {
        flex-flow: wrap;
    }

    .page_products .options .page {
        margin: 10px auto 0;
        padding: 0 30px;
    }
}

@media (min-width:481px) and (max-width:530px) {
    .page_products .options {
        justify-content: space-around;
    }

    .options .view {
        order: 1;
        margin-left: 15px;
        padding-right: 80px;
    }

    .page_products .options .page {
        order: 2;
        margin: 0 8px 10px 0;
        padding: 0;
    }

    .options .sort {
        order: 3;
        margin-left: -8px;
    }

    .options .show_product {
        order: 4;
        margin-right: -8px;
    }
}

/* product catalog.html page end*/

/* product description.html page begin*/

@media (min-width:481px) and (max-width:753px) {
    .descriptions>div:nth-of-type(1) {
        margin: 111px auto 0;
    }

    .overview .adaptiv_position {
        top: 45px;
    }
}

@media (min-width:481px) and (max-width:585px) {
    .descriptions figcaption,
    .descriptions figcaption .sale,
    .descriptions .product_name {
        font-size: 12px;
    }

    .descriptions figcaption span {
        font-size: 14px;
    }
}

@media (min-width:481px) and (max-width:575px) {
    .description li:nth-of-type(4) {
        margin-left: 0;
    }
}

/* product description.html page end*/

@media (max-width:480px) {
    /*HEADER*/

    header {
        min-height: 0;
        background: none !important;
    }

    .header_content {
        position: fixed;
        padding-top: 15px;
        top: 20px;
        right: -270px;
        background: #fb4d01;
        transition: transform .5s linear;
        opacity: 0.965;
        z-index: 5;
    }

    .header_content_open {
        transform: translate3d(-270px, 0, 0);
    }

    .header_content img {
        display: block;
        margin: 0 auto;
    }

    .header_content .header_vidget {
        float: none;
        margin: 20px auto;
        text-align: center;
    }

    header .sidebar {
        width: 270px;
        margin: 0 auto;
        background-color: none;
    }

    .sidebar>div:nth-of-type(2) div:nth-of-type(1) {
        margin-top: 14px;
    }

    .sidebar>div:nth-of-type(2) div:nth-of-type(2) {
        margin-left: 53px;
    }

    .sidebar .cross {
        top: -22px;
    }

    .sidebar ul {
        margin-top: 15px;
    }

    .sidebar li:nth-of-type(n) {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 5px;
        background: #e24602;
    }

    .sidebar form {
        margin-top: 10px;
    }

    .mobile_menu {
        display: block;
        position: fixed;
        width: 40px;
        height: 41px;
        top: 20px;
        right: 10px;
        background-color: #e24602;
        border-radius: 50%;
        transition: all .5s linear;
        opacity: .8;
        z-index: 2;
    }

    .mobile_menu_open {
        width: 180px;
        height: 8px;
        transform: translate3d(10px, -15px, 0);
        background-color: #e24602;
        border-top: 7px solid #f8f8f8;
        border-radius: 0;
        opacity: 1;
        pointer-events: none;
        z-index: 5;
    }

    .mobile_menu .strip {
        display: block;
        width: 20px;
        height: 1px;
        background-color: #f8f8f8;
        border-radius: 10%;
        transition: all .2s linear;
    }

    .mobile_menu .one {
        transform: translate3d(10px, 15px, 0);
    }

    .mobile_menu .two {
        transform: translate3d(10px, 19px, 0);
    }

    .mobile_menu .free {
        transform: translate3d(10px, 23px, 0);
    }

    .strip_open {
        width: 40px !important;
        height: 4px !important;
    }

    .strip_one_open {
        transform: translate3d(10px, 2px, 0) !important;
    }

    .strip_two_open {
        transform: translate3d(70px, -2px, 0) !important;
    }

    .strip_free_open {
        transform: translate3d(130px, -6px, 0) !important;
    }

    .close_menu {
        display: block;
        position: absolute;
        top: -15px;
        left: 0;
        padding: 2px 12px 0 40px;
        background-color: #f8f8f8;
        font-size: 12px;
        font-weight: 700;
        color: #333333;
        cursor: pointer;
    }

    .close_menu::after,
    .close_menu::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 15px;
        top: 0px;
        left: 30px;
        background-color: #333333;
    }

    .close_menu::after {
        transform: rotate(45deg);
    }

    .close_menu::before {
        transform: rotate(-45deg);
    }

    /*MAIN*/

    .tags span,
    .left_sidebar>img {
        display: none;
    }

    main .flex {
        display: block;
    }

    main .left_sidebar {
        width: auto;
        margin: 20px 0 0 0;
    }

    .left_sidebar>section {
        position: relative;
        min-width: 145px;
        width: 40%;
        margin-bottom: 0;
    }

    .left_sidebar section h2 {
        position: relative;
        padding: 10px 5px;
        background-color: #333333;
        font: 700 14px/1.15 Roboto, sans-serif;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
    }

    .left_sidebar>section ul {
        display: block;
        position: absolute;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.3s linear;
    }

    .left_sidebar>section:hover ul {
        max-height: 400px;
    }

    .menu ul,
    .category ul,
    .brand ul {
        right: -133px;
        z-index: 4;
    }

    .menu ul {
        top: 0;
    }

    .category ul {
        top: -36px;
    }

    .brand ul {
        top: -72px;
    }

     .tags ul {
        margin: 0;
        padding: 0;
        width: 133px;
        top: -108px;
        right: -133px;
        z-index: 1;
    }

    .left_sidebar section:hover ul::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 1px;
        border: 10px solid transparent;
        border-left-color: #3d3d3d;
        left: 0px;
    }

    .left_sidebar .menu ul::before {
        top: 8px;
    }

    .left_sidebar .category ul::before {
        top: 44px;
    }

    .left_sidebar .brand ul::before {
        top: 80px;
    }

    .left_sidebar .tags ul::before {
        top: 116px;
    }

    .left_sidebar section:hover h2 {
        background-color: #3d3d3d;
        cursor: pointer;
    }

    .menu li:last-of-type,
    .category li:last-of-type,
    .brand li:last-of-type {
        padding-bottom: 0;
    }

    .main .menu a,
    .main .category a,
    .main .brand a,
    .main .tags a,
    .main .left_sidebar .main_tag {
        padding: 10px 0;
        background-color: #e9e9e9;
        font-weight: 400;
        text-align: center;
    }

    .main .tags a,
    .main .left_sidebar .main_tag {
        padding: 5px 0;
    }

    .main .menu a,
    .main .category a,
    .main .brand a,
    .main .left_sidebar .tags a,
    .main .left_sidebar .main_tag {
        width: 133px;
    }

    .main .left_sidebar .tags a,
    .main .left_sidebar .main_tag {
        margin: 0;
    }

    .main .left_sidebar .tags a:hover {
        background-color: #333333;
        color: #ffffff;
    }

    .products img {
        margin-bottom: 4px !important;
    }

    /* product catalog.html page begin*/

    .main .page_products {
        width: 100%;
        margin: 0;
    }

    .page_products nav {
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }

    .page_products nav ul {
        display: block;
        width: 100%;
    }

    .page_products nav>a {
        float: right;
        margin: 0;
    }

    .page_products .options {
        flex-flow: wrap;
    }

    .page_products .options {
        justify-content: space-around;
    }

    .options .view {
        order: 1;
        padding-right: 60px;
    }

    .page_products .options .page {
        order: 2;
        padding: 0;
    }

    .options .sort {
        order: 3;
        margin-top: 8px;
    }

    .options .show_product {
        order: 4;
    }

    .page_products .products {
        margin: 0;
        padding: 0 15px;
        justify-content: space-around;
    }

    .products figure {
        max-width: 250px;
        min-width: 180px;
        width: 39%;
        margin-left: 0;
        margin-bottom: 61px;
    }

    .products figure:nth-of-type(n+11) {
        display: none;
    }

    /* product catalog.html page end*/

    /* product description.html page begin*/

    main .descriptions {
        position: relative;
        padding: 0 15px;
    }

    .descriptions nav {
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }

    .descriptions nav ul {
        display: block;
        width: 100%;
    }

    .descriptions nav>a {
        float: right;
        margin: 0;
    }

    .descriptions>div:nth-of-type(1) {
        max-width: 100%;
        width: 100%;
        margin: 126px auto 0;
        text-align: center;
    }

    .descriptions>div:nth-of-type(1)>div {
        margin: 18px auto 0;
        padding-right: 37px;
    }

    main .overview .adaptiv_position {
        position: absolute;
        width: 100%;
        top: 65px;
        left: 0;
        right: 0;
        text-align: center;
    }

    .adaptiv_position .price {
        justify-content: center;
        text-align: left;
    }

    .adaptiv_position h1 {
        font-size: 20px;
    }

    .descriptions .price div {
        margin-left: 15px;
        margin-right: 0;
    }

    .overview .price {
        border: none;
    }

    .descriptions .overview {
        max-width: 80%;
        margin: 0 auto;
        display: block;
    }

    .overview h2,
    .overview>span {
        width: 100%;
        text-align: center;
    }

    .overview ul {
        text-align: center;
    }

    .overview .privilege {
        justify-content: space-around;
        padding: 0;
    }

    .description li:nth-of-type(4) {
        margin-left: 0;
    }

    .description p {
        width: 99%;
    }

    .descriptions .products {
        margin-top: 18px;
    }

    .descriptions .products figure {
        margin: 0 auto 50px !important;
    }

    .descriptions>article h2 {
        margin: 0;
        font-size: 19px;
        text-align: center;
    }

    .descriptions figcaption,
    .descriptions figcaption .sale {
        font-size: 12px;
    }

    .descriptions figcaption span {
        font-size: 14px;
    }

    /* product description.html page end*/

    main>ul {
        display: block;
        margin: 0;
    }

    main>ul li {
        height: 75px;
    }

    /*FOOTER*/

    footer .footer_menu {
        display: block;
        box-sizing: border-box;
        padding: 0;
        padding-top: 40px;
        text-align: center;
    }

    footer .footer_menu div {
        text-align: left;
    }

    .footer_menu div:nth-of-type(-n+3) {
        display: block;
        width: auto;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .footer_menu div:nth-of-type(4) {
        box-sizing: border-box;
        min-width: 0%;
        width: 256px;
        margin: 6px 10px 22px 13px;
    }

    .footer_menu div:nth-of-type(5) {
        box-sizing: border-box;
        min-width: 0%;
        width: 256px;
        margin: 0 16px 22px 10px;
    }

    .footer_menu div:nth-of-type(-n+3) h2 {
        margin-top: 12px;
        margin-bottom: 10px;
        padding-bottom: 2px;
        background-color: grey;
    }

    .footer_menu div:nth-of-type(-n+3) h2::after {
        display: inline-block;
        content: "\2B07";
        margin-left: 10px;
        font-size: 14px;
        color: #ffffff;
        transition: transform 250ms linear;
    }

    .footer_menu div:nth-of-type(-n+3) h2::before {
        display: inline-block;
        content: "\2B07";
        margin-right: 10px;
        font-size: 14px;
        color: #ffffff;
        transition: transform 250ms linear;
    }

    .footer_menu div:nth-of-type(-n+3):hover h2::after {
        transform: rotate(180deg);
    }

    .footer_menu div:nth-of-type(-n+3):hover h2::before{
        transform: rotate(-180deg);
    }

    .footer_menu div:nth-of-type(1) h2 {
        margin-top: 0;
        font-weight: 800;
    }

    .footer_menu div:nth-of-type(n+4) h2 {
        text-align: center;
    }

    .footer_menu div ul {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.4s linear;
    }

    .footer_menu div:hover ul {
        max-height: 400px;
    }

    .footer_menu div a:last-of-type {
        margin-bottom: 11px;
    }

    .footer_menu div:hover a {
        display: block;
    }

    .footer_menu div:nth-of-type(-n+3) a:hover{
        display: block;
        transform: none;
        text-decoration: underline;
    }

    .footer_menu div:nth-of-type(n+4) p {
        width: 100%;
    }

    .footer_menu div:nth-of-type(5) section span:nth-of-type(1) {
        margin-right: 52px;
    }

    .footer_menu article {
        margin-top: 18px;
    }

    .footer_bar p {
        display: block;
        margin: 0;
        padding: 21px 5px 16px;
        text-align: center;
    }

    .footer_bar ul {
        float: none;
        margin: 0;
        padding-bottom: 20px;
        text-align: center;
    }

    .modal_overlay::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 0%, 0.5);
        z-index: 2;
    }
}

/* product catalog.html page begin*/

@media (max-width:401px) {
    .options .view {
        padding-right: 5px;
    }

    .page_products .options .page {
    }

    .options .sort {
        margin-right: auto;
    }

    .options .show_product {
        margin-left: auto;
    }
}

@media (max-width:372px) {
    .options .show_product {
        margin-right: 5px;
    }

    .options .show_product select {
        width: 35px;
    }

    .page_products .show_product span {
        padding-left: 5px;
    }

    .page_products .show_product .select_arrow {
        width: 43px;
    }

    .options .sort {
        margin-left: 5px;
    }

    .options .sort select {
        width: 70px;
        margin-left: 4px;
    }

    .page_products .sort span {
        padding-left: 2px;
    }

    .page_products .sort .select_arrow {
        width: 75px;
    }
}

@media (max-width:315px) {
    .options .sort {
        margin-left: -4px;
    }

    .options .show_product {
        margin-right: -4px;
    }
}

@media (max-width:470px) {
    .page_products .products {
        flex-flow: column;
    }

    .page_products figcaption {
        padding-left: 0 !important;
    }

    .page_products .products span {
        text-align: center !important;
    }

    .page_products .sale {
        right: 0;
        left: 0;
    }

    .products figure {
        margin: 0 auto 55px !important;
    }

    .products figure:nth-of-type(n+6) {
        display: none;
    }
}

/* product catalog.html page end*/

/* product description.html page begin*/

@media (max-width:478px) {
    .descriptions .products figure:nth-of-type(3) {
        display: none;
    }

    .descriptions .product_name {
        font-size: 12px;
    }
}

@media (max-width:457px) {
    .description li:nth-of-type(3) {
        margin-left: 0;
    }

    .description li:nth-of-type(4) {
        margin-left: -15px;
    }
}

@media (max-width:386px) {
    .description ul {
        margin: 0;
    }

    .description li {
        display: block;
        margin: 0 !important;
        text-align: center;
    }
}

@media (max-width:460px) {
    .descriptions .privilege {
        flex-flow: wrap;
    }

    .descriptions .privilege a {
        order: 3;
        margin: 10px 30px;
    }
}

@media (max-width:301px) {
    main .overview .adaptiv_position {
        top: 85px;
    }
}

@media (max-width:430px) {
    .descriptions>div:nth-of-type(1)>img {
        width: 100%;
    }

    .descriptions>div:nth-of-type(1)>div {
        box-sizing: border-box;
        width: 100%;
    }
}

@media (max-width:392px) {
    .descriptions>div:nth-of-type(1)>div img:nth-of-type(3) {
        display: none;
    }
}

/*Setting up product names begin*/

@media (min-width:769px) and (max-width:925px), (max-width:675px), (max-width:391px) {
    .descriptions figcaption {
        display: block;
    }

    .descriptions .products span {
        display: block;
        padding: 0 !important;
        text-align: right;
    }

    .descriptions span.product_name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
    }
}

@media (max-width:675px) {
    .descriptions article {
        margin-bottom: 5px;
    }
}

@media (max-width:391px) {
    .descriptions article {
        margin-bottom: 0;
    }

    .descriptions .products figure:nth-of-type(2) {
        display: none;
    }

    .descriptions figcaption {
        width: 200%;
        margin-left: -52.5%;
        text-align: center;
    }

    .descriptions .products span {
        text-align: center;
    }
}

/*Setting up product names end*/

@media (min-width:769px) and (max-width:1089px), (max-width:753px) {
    main .descriptions {
        position: relative;
    }

    .descriptions>div:nth-of-type(1) {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .descriptions>div:nth-of-type(1)>img {
        margin-left: 0;
    }

    .descriptions>div:nth-of-type(1)>div {
        margin: 18px auto 0;
        padding-right: 37px;
    }

    .overview .adaptiv_position {
        position: absolute;
        left: 19%;
        right: 19%;
    }

    .overview .price {
        border: none;
    }

    .descriptions .overview {
        max-width: 80%;
        margin: 0 auto;
        display: block;
    }

    .overview h2,
    .overview>span {
        width: 100%;
        text-align: center;
    }

    .overview ul {
        text-align: center;
    }

    .overview .privilege {
        justify-content: space-around;
        padding: 0;
    }

    .description p {
        width: 99%;
    }
}

@media (min-width:481px) and (max-width:768px), (max-width:480px) {
    main .descriptions {
        width: 100%;
        margin: 0;
    }

    .descriptions>div:nth-of-type(1)>img {
        margin-left: 0;
    }

    .descriptions>article:nth-of-type(1) {
        margin-top: 35px;
    }

    .descriptions>article:nth-of-type(2) {
        margin-top: 0;
    }
}

@media (min-width:481px) and (max-width:768px), (max-width:480px), (min-width:769px) and (max-width:1089px) {
    .descriptions .products figure {
        max-width: 100%;
        min-width: 100px;
        width: 39%;
    }

    .descriptions .products {
        margin-left: 0;
    }

    .descriptions .products div {
        top: 30%;
    }

    .descriptions .products .ago {
        left: -10px;
    }

    .descriptions .products .next {
        right: -10px;
    }
}

/* product description.html page end*/

/* product catalog.html page begin*/

/* product catalog.html page end*/

/*DRY*/

/*Setting up product names begin*/

@media (max-width:768px) {
    .page_products figcaption {
        display: block;
    }

    .page_products .products span {
        display: block;
        padding: 0 !important;
        text-align: right;
    }

    .page_products span.product_name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
    }
}

/*Setting up product names end*/

@media (max-width:1271px) {
    .footer_menu div:nth-of-type(5) p {
        text-align: justify;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

@media (max-width:1089px) {
    .overview>p,
    .description>p {
        text-align: justify;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

/*Hide redundant text begin*/

@media (min-width:769px) {
    .page_products .product_name {
        max-width: 150px;
        height: 4em;
        overflow: hidden;
    }
}

@media (min-width:926px), (min-width:676px) and (max-width:768px) {
    .descriptions .product_name {
        max-width: 150px;
        height: 4em;
        overflow: hidden;
    }
}

/*Hide redundant text end*/
