article.big-widgets
    ul.big-widgets__list
        li.big-widgets__item.big-widgets__item--fb
            a(href="#" class="big-widgets__link big-widgets__link--fb") Facebook
                svg: use(href="img/svg_sprite.svg#fb")
        li.big-widgets__item.big-widgets__item--tw
            a(href="#" class="big-widgets__link big-widgets__link--tw") Twitter
                svg: use(href="img/svg_sprite.svg#tw")
        li.big-widgets__item.big-widgets__item--pint
            a(href="#" class="big-widgets__link big-widgets__link--pint") Pinterest
                svg: use(href="img/svg_sprite.svg#pint_big")
