article.big-widgets
    ul.big-widgets__list
        li.big-widgets__item.big-widgets__item--fb
            svg.big-widgets__link.big-widgets__link--fb Facebook
                use(href="img/svg_sprite.svg#fb")
        li.big-widgets__item.big-widgets__item--tw
            svg.big-widgets__link.big-widgets__link--tw Twitter
                use(href="img/svg_sprite.svg#tw")
        li.big-widgets__item.big-widgets__item--pint
            svg.big-widgets__link.big-widgets__link--pint Pinterest
                use(href="img/svg_sprite.svg#pint_big")
