div.mobile-menu.mobile-menu--no-js
    div.mobile-menu__wrapper-strips
        div.mobile-menu__strip.mobile-menu__strip--one
        div.mobile-menu__strip.mobile-menu__strip--two
        div.mobile-menu__strip.mobile-menu__strip--free
    div.mobile-menu__menu-close CLOSE
