section.page-products
    nav.products-nav.products-nav--page-products
        ul.products-nav__list
            li.products-nav__item
                a.products-nav__link(href="#") Home
            li.products-nav__item
                a.products-nav__link(href="#") Apparel
            li.products-nav__item
                a.products-nav__link(href="#") Women
        a.products-nav__back &laquo; Back to previous page
    include products-filter-list
    include products-list
    include products-filter-list
