section.products
template.products__template
    figure.products__wrapper
        img.products__image
        figcaption.products__text-wrapper
             span.products__name
             span.products__price
