section.page-products__filter-list
    div.page-products__sort-wrapper
        label.page-products__sort-text Sort by
        select.page-products__sort-select
            option(value="position" id="position") Position
            option(value="price" id="price") Price
            option(value="name" id="name") Name
        svg.page-products__select-btn.page-products__select-btn--sort
            use(href="img/svg_sprite.svg#arrow")
        a(href="#" class="page-products__sort-pointer") &uarr;
    div.page-products__view-wrapper
        span.page-products__view-text View as:
        div.page-products__view-icon.page-products__view-icon--tile
            svg
                use(href="img/svg_sprite.svg#sort_tile")
        div.page-products__view-icon.page-products__view-icon--listing
            svg
                use(href="img/svg_sprite.svg#sort_desc")
    div.page-products__show-wrapper
        label.page-products__show-text Show
        select.page-products__show-select
            option(value="9") 9
            option(value="18") 18
            option(value="27") 27
        svg.page-products__select-btn.page-products__select-btn--show
            use(href="img/svg_sprite.svg#arrow")
        span.page-products__show-page Per page
    div.page-products__pagination-wrapper
        span.page-products__pagination-text Page:
        ul.page-products__pagination-list
            li.page-products__pagination-item
                a.page-products__pagination-link(href="#") 1
            li.page-products__pagination-item
                a.page-products__pagination-link(href="#") 2
        a.page-products__pagination-last-page(href="#")
            svg.page-products__select-btn.page-products__select-btn--pagination
                use(href="img/svg_sprite.svg#arrow")
