section.products
template.products__template
    section.products__wrapper
        img.products__image
        div.products__text-wrapper
            a(href="#"): h2.products__name
            span.products__price
