section.products
    figure.products__wrapper
        img.products__image(src="img/products/SLEEVE_SPRING_SUIT.jpg")
        figcaption.products__text-wrapper
             span.products__name SLEEVE SPRING SUIT
             span.products__price €.865.00
        div.products__vobler.products__vobler--new
    figure.products__wrapper
        img.products__image(src="img/products/SALTY_DAYZ.jpg")
        figcaption.products__text-wrapper
            span.products__name SALTY DAYZ
            span.products__price €.770.50
                span.products__sale €.1,270.15
        div.products__vobler.products__vobler--hot
    figure.products__wrapper
        img.products__image(src="img/products/CHEEKY_JANE.jpg")
        figcaption.products__text-wrapper
            span.products__name CHEEKY JANE
            span.products__price €.280.70
    figure.products__wrapper
        img.products__image(src="img/products/SYNERGY_2MM_BACK_ZIP.jpg")
        figcaption.products__text-wrapper
            span.products__name SYNERGY 2MM BACK ZIP
            span.products__price €.765.00
    figure.products__wrapper
        img.products__image(src="img/products/SYNERGY_2MM.jpg")
        figcaption.products__text-wrapper
            span.products__name SYNERGY 2MM
            span.products__price €.230.50
    figure.products__wrapper
        img.products__image(src="img/products/SURF_YOKE_19_QS.jpg")
        figcaption.products__text-wrapper
            span.products__name SURF YOKE 19 QS
            span.products__price €.330.70
    figure.products__wrapper
        img.products__image(src="img/products/OG_SCALLOP_SOLID.jpg")
        figcaption.products__text-wrapper
            span.products__name OG SCALLOP SOLID
            span.products__price €.765.00
    figure.products__wrapper
        img.products__image(src="img/products/STRIPE_19_QS.jpg")
        figcaption.products__text-wrapper
            span.products__name STRIPE 19 QS
            span.products__price €.230.50
    figure.products__wrapper
        img.products__image(src="img/products/YOKE_19_QS.jpg")
        figcaption.products__text-wrapper
            span.products__name YOKE 19 QS
            span.products__price €.1,130.70
    figure.products__wrapper
        img.products__image(src="img/products/DOLLS_TANK_TOP.jpg")
        figcaption.products__text-wrapper
            span.products__name DOLLS TANK TOP
            span.products__price €.765.00
    figure.products__wrapper
        img.products__image(src="img/products/PULLOVER_TOP.jpg")
        figcaption.products__text-wrapper
            span.products__name PULLOVER TOP
            span.products__price €.230.50
    figure.products__wrapper
        img.products__image(src="img/products/ENEVER_TOP.jpg")
        figcaption.products__text-wrapper
            span.products__name ENEVER TOP
            span.products__price €.1,130.70
    figure.products__wrapper
        img.products__image(src="img/products/RELAY_RACE_HENLEY_TOP.jpg")
        figcaption.products__text-wrapper
            span.products__name RELAY RACE HENLEY TOP
            span.products__price €.765.00
    figure.products__wrapper
        img.products__image(src="img/products/BREEZE_ZIP_UP.jpg")
        figcaption.products__text-wrapper
            span.products__name BREEZE ZIP UP
            span.products__price €.230.50
    figure.products__wrapper
        img.products__image(src="img/products/BREEZE_ZIP_UP_JACKE.jpg")
        figcaption.products__text-wrapper
            span.products__name BREEZE ZIP UP JACKE
            span.products__price €.480.70
