extends templates/page

block variables
    - var headerTagName = "product-description"
    - var mainTagName = "description"

block title
    title Surfhouse description
    
append css
    +styles("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800,900|Roboto:400,500i,700,900,900i")

block contentPage
    include includes/description
